@page "/C_Expedientes"

<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Estudiantes</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <div class="flex-fill mx-2">
                        <label>Filtro</label>
                        <select class="form-control col-2" @bind="Filtro">
                            <option value="0">Expediente Id</option>
                            <option value="1">Estudinate Id</option>
                        </select>
                    </div>
                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio" />
                    </div>
                    <div class="flex-fill mx-2">
                        <label>desde</label>
                        <InputDate class="form-control" @bind-Value="desde" />
                    </div>

                    <div class="flex-fill mx-2">
                        <label>hasta</label>
                        <InputDate class="form-control" @bind-Value="hasta" />
                    </div>
                    
                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2"> Buscar</i>
                    </button>
                </div>
            </form>
        </div>
        <table class="table table-bordered">
            <thead  class="thead-darck">
                <tr class="table">
                    <th>Expediente Id</th>
                    <th>Estudiante Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.ExpedienteId</td>
                        <td>@item.EstudianteId</td>

                        <td><a class="btn btn-sm btn-outline-primary oi oi-eye" href="R_Expedientes/@item.ExpedienteId">Ver</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@code {
    public string? Filtro { get; set; }
    public string? Criterio { get; set; }
    public List<Expedientes> lista = new List<Expedientes>();
    public DateTime? desde { get; set; } = null;
    public DateTime? hasta { get; set; } = null;

    [Inject]
    public ExpedientesBLL ExpedientesBLL { get; set; }


    private void Buscar()
    {
        if (Criterio != null)
        {
            switch (Filtro)
            {
                 case "0":
                    lista = ExpedientesBLL.GetList(p => p.ExpedienteId == int.Parse(Criterio));
                break;

                case "2":
                    lista = ExpedientesBLL.GetList(p => p.EstudianteId == int.Parse(Criterio));
                break;
                 
                
            }
        }
        else
        {
            lista = ExpedientesBLL.GetList(c => true);
        }
    }





}